<div class="footer-first">
    <div class="container">
       <div class="row align-items-center reverse-section">
          <div class="col-lg-7">
             <div class="cta-msg">
                <h3>Contact us today to talk to our marketing experts for an assessment of your healthcare business.</h3>
                <div class="row">
                   <div class="col-md-12">
                      <ul class="footer-address">
                         <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <p>
                              Tonic Mantra, First Floor, <br>
                              Rise Square, Vaishali Nagar, <br>
                              Jaipur - 302021, Rajasthan, India.
                          </p>
                          
                         </li>
                      </ul>
                   </div>
                   <div class="col-md-12">
                     <ul class="footer-address" >
                        <li>
                           <i class="fas fa-envelope"></i>
                           <a href="mailto:tonicmantras@gmail.com" style="text-decoration: none;">tonicmantras@gmail.com</a>
                        </li>
                        <li>
                           <i class="fas fa-phone-alt"></i>
                           <a href="tel:9314610183" style="text-decoration: none;">+91-9314610183</a>
                        </li>
                     </ul>
                  </div>
                </div>
             </div>
          </div>
          <div class="col-lg-5">
             <div class="footer-form" id="iu7kp">
                <h3 class="heading-underline">Let's Discuss Your Growth Strategy!</h3>
                <form id="contact-us-form" name="contact-us-form" data-form-id="68D42770-A651-4CBD-BE06-85C064990DA7" novalidate="novalidate" enctype="multipart/form-data" method="post">
<div class="row">
   <div class="col-md-12">
       <div class="form-group">
           <input type="text" class="form-control animated-input" id="Name" name="Name">
           <label class="">Name*</label>
         <div class="NameError"></div>
       </div>
   </div>
   <div class="col-md-6">
       <div class="form-group">
           <input type="text" class="form-control animated-input" id="Designation" name="Designation">
           <label>Designation</label>
       </div>
   </div>
   <div class="col-md-6">
       <div class="form-group">
           <input type="text" class="form-control animated-input" id="Email" name="Email">
           <label>Email*</label>
         <div class="EmailError"></div>
       </div>
   </div>
   <div class="col-md-6">
       <div class="form-group">
           <input type="text" class="form-control animated-input" id="Phone" name="Phone">
           <label>Phone*</label>
         <div class="PhoneError"></div>
       </div>
   </div>
   <div class="col-md-6">
       <div class="form-group">
    <select class="form-control animated-input" id="selectPracticeType" name="Practice Type">
        <option>&nbsp;</option>
        <option>IVF Centers</option>
        <option>Fertility Clinics</option>
        <option>Gynecologists</option>
        <option>Surrogacy Centers</option>
    </select>
    <label>Practice Type</label>
</div>
   </div>
   <div class="col-md-6">
       <div class="form-group">
           <input type="text" class="form-control animated-input" id="PracticeName" name="Practice Name">
           <label>Practice Name</label>
       </div>
   </div>
   <div class="col-md-6">
       <div class="form-group">
           <select class="form-control animated-input" id="selectEmployeeSize" name="Employee Size">
               <option>&nbsp;
               </option>
               <option>5-10</option>
               <option>10-25</option>
               <option>25-50</option>
               <option>50+</option>
           </select>
           <label>Employee Size</label>
       </div>
   </div>
   <div class="col-md-12">
       <div class="form-group">
           <textarea class="form-control animated-input" id="Message" name="Message"></textarea>
           <label>Message</label>
       </div>
   </div>
   <div class="col-md-12">
       <div class="recapcha-and-btn">
           <div class="recaptcha">
               <div data-sitekey="6LdOv88dAAAAAFJpnbzOywY7n_d4vLWt8ZWkzECA" data-theme="light" class="g-recaptcha builder-g-captcha-class"></div>
           </div>
           <div class="contact-btn">
               <button class="btn-main">Schedule Your Call</button>
           </div>
       </div>
   </div>
</div>
</form>
             </div>
          </div>
       </div>
    </div>
 </div>
 <footer class="footer-section">
    <div class="container">
       <div class="footer-middile">
          <div class="row">
             <div class="col-lg-4 col-md-6">
                <div class="footer-desc">
                   <img src="source/sites/cb9be165-52e4-4095-805e-bd230f69c5bc/images/LOGO.wsvg.svg" alt="Healthcare Digital Marketing Solution logo white" class="img-fluid">
                   <p class="mt-2">Tonic Mantra IVF Healthcare Marketing: An India-Based Digital Marketing Agency in Hyderabad, Committed to Helping Patient-Centric Healthcare Providers Grow Their Practices and Increase Patient Footfalls and Revenues.</p>
                   <a href="https://www.designrush.com/agency/profile/healthcare-dms" target="_blank">
                      <!--<picture>
                         <source srcset="source/sites/cb9be165-52e4-4095-805e-bd230f69c5bc/images/accredited-agency.webp" type="image/webp">
                         <img src="source/sites/cb9be165-52e4-4095-805e-bd230f69c5bc/images/accredited-agency.png" width="170" class="img-fluid" alt="Accredited Agency">
                      </picture>-->
                   </a>
                </div>
             </div>
             <div class="col-lg-3 col-md-6">
                <div class="footer-quick-links">
                   <h3>Quick Links</h3>
                   <div class="quick-link-section">
                      <div class="row">
                         <div class="col-md-6">
                            <ul class="footer-link">
                               <li>
                                  <a href="index.htm" title="Home">Home</a>
                               </li>
                               <li>
                                  <a href="about-us.html" title="About Us">About Us</a>
                               </li>
                               
                               <!--  <li>
                                  <a class="text-white" title="Who We Serve">Who We Serve</a>
                               </li>
                               <li>
                                  <a class="text-white" title="Services">Services</a>
                               </li>
                               <li>
                                  <a class="text-white" title="FAQ’s">FAQ’s</a>
                               </li>-->
                            </ul>
                         </div>
                         <div class="col-md-6">
                            <ul class="footer-link">
                               <li>
                                  <a href="blog.html" title="Blog">Blog</a>
                               </li>
                               <li>
                                  <a href="contact-us.html" title="Sitemap">Contact</a>
                               </li>
                            </ul>
                         </div>
                         <div class="col-md-12">
                            <ul class="footer-link">
                               <!--<li>
                                  <a href="healthcare-digital-marketing-agency-in-hyderabad.html" title="Healthcare Digital Marketing Agency - Hyderabad Branch"> Tonic Manta Healthcare Digital Marketing Agency - Jaipur
                                  </a>-->
                               </li>
                            </ul>
                         </div>
                      </div>
                   </div>
                   <div class="footer-social-area mt-3">
                      <ul class="social-icon">
                         <li>
                            <a href="https://www.facebook.com/healthcaredms/" target="_blank" title="Facebook">
                               <i class="fab fa-facebook-f"></i>
                            </a>
                         </li>
                         <li>
                            <a href="https://twitter.com/HealthcareDms" target="_blank" title="Twitter">
                               <i class="icon-x-twitter"></i>
                            </a>
                         </li>
                         <li>
                            <a href="https://www.linkedin.com/company/healthcare-dms" target="_blank" title="Linkedin">
                               <i class="fab fa-linkedin-in"></i>
                            </a>
                         </li>
                         <li>
                            <a href="https://goo.gl/maps/52ikojsZnWWDhrjGA" target="_blank" title="Google">
                               <i class="fab fa-google"></i>
                            </a>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="footer-bottom">
       <div class="container">
          <div class="row">
             <div class="col-xl-6 col-lg-7 col-md-12">
                <div class="footer-bottom-left">
                   <p>Copyright © 2024 Tonic Mantra IVF Healthcare Marketing 
                      <a href="https://www.versai.tech/" title="FirstBit Digital Technologies" target="_blank">
                         Developed by Versai Technology</a>
                      </p>
                </div>
             </div>
             <div class="col-xl-6 col-lg-5 col-md-12">
                <div class="footer-bottom-right">
                   <ul class="footer-bottom-link">
                      <li>
                         <a href="privacy-policy.html" title="Privacy Policy">Privacy Policy</a>
                      </li>
                      <!--<li>
                         <a href="/sitemap" title="Sitemap">Sitemap</a>
                      </li>-->
                      <li>
                         <a href="terms-and-condition.html" title="Terms &amp; Conditions">Terms &amp; Conditions</a>
                      </li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>