<header>
    <div class="top_header_bar">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="heading_bar">
                   <ul>
                      <li>
                         <a href="mailto:tonicmantras@gmail.com" title="Email">
                            <i class="fas fa-envelope"></i>
                           tonicmantras@gmail.com</a>
                      </li>
                      <li>
                         <a href="tel:984-988-7333" title="Call Us">
                            <i class="fas fa-phone-alt"></i>
                           9314610183</a>
                      </li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="navigation-area header">
       <div class="menu-area">
          <div class="container">
             <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3 col-md-5 col-8">
                   <div class="logo-area">
                      <a href="index.htm" title="HealthCare Digital Marketing Solution">
                         <img src="source/sites/cb9be165-52e4-4095-805e-bd230f69c5bc/images/tonic_logo.svg" class="img-fluid" alt="HealthCare Digital Marketing Solution">
                      </a>
                   </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-7 col-4">
                   <div class="menu__block_wrap">
                      <nav class="navbar navbar-expand-xl">
                         <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="custom-nav-icon">
                               <span></span>
                               <span></span>
                               <span></span>
                               <span></span>
                               <span></span>
                               <span></span>
                            </span>
                         </button>
                         <div class="collapse navbar-collapse" id="main-menu">
                            <div class="navbar-nav">
                               <div class="nav-item active">
                                  <a class="nav-link" title="Home" href="index.htm">Home</a>
                               </div>
                               <div class="nav-item dropdown">
                                  <a class="nav-link" href="about-us.html" id="navbarDropdownMenuLink-about" title="About Us">About Us</a>
                                  <span aria-expanded="false" role="button" class="drp-arrow dropdown-toggle d-inline-block d-lg-none" data-toggle="dropdown">
                                     <i class="far fa-plus"></i>
                                  </span>
                                  <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-about">
                                     <a class="dropdown-item" href="/our-team.html" title="Our Team">Our Team</a>
                                  </div>-->
                               </div>
                               <div class="nav-item dropdown">
                                  <a class="nav-link" id="navbarDropdownMenuLink-solution" title="Solutions">Services</a>
                                  <span aria-expanded="false" role="button" class="drp-arrow dropdown-toggle d-inline-block d-lg-none" data-toggle="dropdown">
                                     <i class="far fa-plus"></i>
                                  </span>
                                  <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-solution">
                                     <a class="dropdown-item" href="healthcare-seo-agency.html" title="Healthcare SEO">Healthcare SEO</a>
                                     <a class="dropdown-item" href="healthcare-ppc.html" title="Healthcare Paid Search Advertising">Healthcare Paid Search Advertising</a>
                                     <a class="dropdown-item" href="medical-website-design-development.html" title="Healthcare Website Design &amp; Development">Healthcare Website Design &amp; Development</a>
                                     <a class="dropdown-item" href="reputation-management.html" title="Healthcare Reputation Management">Healthcare Reputation Management</a>
                                     <a class="dropdown-item" href="social-media-marketing.html" title="Healthcare Social Media Marketing">Healthcare Social Media Marketing</a>
                                     <a class="dropdown-item" href="medical-website-design-development.html" title="Medical Website Design">Medical Website Design</a>
                                  </div> -->
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-solution">
                                    <a class="dropdown-item" href="marketing-automation.html" title="Marketing Automation">Marketing Automation</a>
                                    <a class="dropdown-item" href="sms-marketing.html" title="SMS Marketing">SMS Marketing</a>
                                    <a class="dropdown-item" href="social-media-marketing.html" title="Social Media Marketing">Social Media Marketing</a>
                                    <a class="dropdown-item" href="event-promotions.html" title="Event Promotions">Event Promotions</a>
                                    <a class="dropdown-item" href="email-campaigns.html" title="Email Campaigns">Email Campaigns</a>
                                    <a class="dropdown-item" href="paid-advertising-campaigns.html" title="Paid Advertising Campaigns">Paid Advertising Campaigns</a>
                                    <a class="dropdown-item" href="website-management.html" title="Website Management">Website Management</a>
                                    <a class="dropdown-item" href="#" title="Customer Relationship Management">Customer Relationship Management</a>
                                    <a class="dropdown-item" href="surveys.html" title="Survey">Surveys</a>
                                </div>
                               </div>
                               <!-- <div class="nav-item dropdown">
                                  <a class="nav-link" id="navbarDropdownMenuLink-serve" title="Who We Serve">Who We Serve</a>
                                  <span aria-expanded="false" role="button" class="drp-arrow dropdown-toggle d-inline-block d-lg-none" data-toggle="dropdown">
                                     <i class="far fa-plus"></i>
                                  </span>
                                  <div class="dropdown-menu mega-dropdown" aria-labelledby="navbarDropdownMenuLink-serve">
                                     <a class="dropdown-item" href="doctors.html" title="Doctors">Doctors</a>
                                     <a class="dropdown-item" href="digital-marketing-for-dentist.html" title="Dentists">Dentists</a>
                                     <a class="dropdown-item" href="hospital-marketing-agency.html" title="Hospitals">Hospitals</a>
                                     <a class="dropdown-item" href="plastic-surgery-marketing.html" title="Plastic Surgeons">Plastic Surgeons</a>
                                     <a class="dropdown-item" href="chiropractic.html" title="Chiropractors">Chiropractors</a>
                                     <a class="dropdown-item" href="orthopedic-marketing.html" title="Orthopaedics">Orthopaedics</a>
                                     <a class="dropdown-item" href="ivf-digital-marketing.html" title="IVF Fertility Practice">IVF Fertility Practice</a>
                                     <a class="dropdown-item" href="ophthalmology-marketing.html" title="Ophthalmologists">Ophthalmologists</a>
                                     <a class="dropdown-item" href="cardiology-practice-marketing.html" title="Cardiologists">Cardiologists</a>
                                     <a class="dropdown-item" href="expert-urology-marketing.html" title="Urologist">Urologist</a>
                                     <a class="dropdown-item" href="expert-gastroenterology-marketing.html" title="Gastroenterology">Gastroenterology</a>
                                     <a class="dropdown-item" href="dermatology.html" title="Dermatology">Dermatology</a>
                                     <a class="dropdown-item" href="hair-transplant.html" title="Hair Transplant">Hair Transplant</a>
                                  </div>
                               </div> -->
                               <!-- <div class="nav-item dropdown">
                                  <a class="nav-link" id="navbarDropdownMenuLink-resource" title="Resources">Resources</a>
                                  <span aria-expanded="false" role="button" class="drp-arrow dropdown-toggle d-inline-block d-lg-none" data-toggle="dropdown">
                                     <i class="far fa-plus"></i>
                                  </span>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-resource">
                                     <a class="dropdown-item" href="blog.html" title="Blog">Blog</a>
                                     <a class="dropdown-item" href="case-studies.html" title="Client Success Stories">Client Success Stories</a>
                                     <a class="dropdown-item" href="press-centre.html" title="Press Centre">
                                        Press Centre</a>
                                     
                                     </div>
                               </div> -->
                               <div class="nav-item">
                                  <a class="nav-link" title="Blogs" href="blog.html">Blogs</a>
                               </div>
                               <div class="nav-item">
                                  <a class="nav-link" title="Contact Us" href="contact-us.html">Contact Us</a>
                               </div>
                               <div class="nav-item">
                                  <a class="btn-main header-cta" href="contact-us.html" title="Let's Get Started">
                                     Let's Get Started
                                     <i class="far fa-long-arrow-right"></i>
                                  </a>
                               </div>
                            </div>
                         </div>
                      </nav>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </header>